﻿<!DOCTYPE html>
<html data-ng-app="CalculatorApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Calculator</title>
    <link href="Styles/bootstrap.css" rel="stylesheet" />
    <link href="Styles/Style.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/CalculatorApp.js"></script>
</head>
<body>
   
    <div data-ng-controller="Main" class="Main">
       <label> Memory value: {{MemoryValue}}</label><br />
        <label> Current result: {{BufDisplay}}</label><br />
        <input class="display" type="text" ng-model="CurDisplay" />
        <div class="keyBoard">
            <hr />
            <div ng-repeat="row in numberRows">
                <input class="btn-lg" ng-repeat="item in row "  type="button"
                       ng-click="AddNumber(item)" value="{{item}}" />
            </div>
            <hr />
               <input class="btn-lg" ng-repeat="item in binaryCommandsList " type="button"
                   ng-click="setNewCommand(item)" value="{{item}}" />
            <hr />
            <div ng-repeat="row in actionsList">
                <input class="btn-lg btn-primary" ng-repeat="item in row " type="button"
                       ng-click="actions[item]()" value="{{item}}" />
            </div>
        </div>
        
           
    </div>
</body>
</html>
